<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sprachbund</title>
    <link rel="stylesheet" href="/unreleased/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <div class="sticky-header">
        <div class="flag"><svg><image href="/svg/flag.svg" xlink:href="/svg/flag.svg"></image></svg></div>
        <div class="unit">
          <p class="name">Nóri &middot; Unit {{units.length}}</p>
          <p class="description">Unit Description.</p>
        </div>
      </div>
    </header>
    <main>
    {{#each units}}
      <div class="divider"><hr><p class="label">{{name}}</p><hr></div>
      {{#each modules}}
      <div class="module">
        <div class="start">
          <form method="post" action="/lesson/u">
            <input name="unit" value="{{@../index}}" hidden>
            <input name="module" value="{{@index}}" hidden>
            <input name="lesson" id="u{{@../index}}-m{{@index}}" hidden>
            <i class="fa-solid fa-{{icon}}"></i>
            <button class="start-btn">START</button>
          </form>
        </div>
        <div class="completion">
        {{#each lessons}}<div class="indicator i-{{@../../index}}-{{@../index}}" style="width: calc(89%/{{../lessons.length}} - 1%);"></div>{{/each}}
        <i class="fa-solid fa-star"></i>
        </div>
      </div>
      {{/each}}
    {{/each}}
    </main>
  </body>
  <script>
    for (var i = 0; i < {{units.length}}; i++) {
      for (var j = 0; j < document.getElementsByClassName("module")[i].length; j++) {
        let name = `u${i}-m${j}`;
        if (localStorage.getItem(name) === undefined || localStorage.getItem(name) <= 0) localStorage.setItem(name, 0);
        document.getElementById(name).value = localStorage.getItem(name);
        for (var k = 0; k < localStorage.getItem(name); k++) document.getElementsByClassName('i-' + i + "-" + j)[k].classList.add("completed");
      }
    }
  </script>
</html>