<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sprachbund</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/learn.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" href="{{seo.img}}">
    <link rel="apple-touch-icon" href="{{seo.img}}">
    
    <meta name="description" content="{{page.top}}" />
    <meta name="keywords" content="" />
    <meta name="author" content="Learn" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="{{seo.theme-color}}">
    <meta name="canonical" content="{{seo.url}}">
    
    <meta name="hreflang" content="en-US">
    
    <meta name="msapplication-TileColor" content="{{seo.theme-color}}">
    <meta name="msapplication-TileImage" content="{{seo.img}}">
    <meta name="msapplication-tooltip" content="{{seo.name}}"> 
  
    <meta property="og:title" content="{{seo.name}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{seo.img}}">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:site_name" content="{{seo.name}}">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{seo.name}}">
    <meta name="twitter:description" content="{{seo.description}}">
    <meta name="twitter:image" content="{{seo.img}}">
    
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <header>
      <div class="language-flag">
        <svg><image href="/svg/flag.svg" xlink:href="/svg/flag.svg"></image></svg>
      </div>
    </header>
    <main>
      <p class="title">~ Nóibun ~</p>
      <form method="post" action="/lesson">
        {{#each units}}
        <div class="module">
          <input name="{{@index}}-lesson" id="u{{@index}}-lesson" hidden>
          <button class="grammar"><i class="fas fa-{{icon}}"></i></button>
          <button class="lesson" name="unit" value="{{@index}}" id="unit-{{@index}}">
            <p class="name">{{name}}</p>
            <p class="level">{{difficulty}}</p>
            <p class="description">{{description}}</p>
          </button>
          <div class="completion">
            {{#each unit}}
            <div class="indicator i-{{@../index}}" style="width: calc((100%/{{../unit.length}}) - 1%);"></div>
            {{/each}}
          </div>
        </div>
        {{/each}}
      </form>
    </main>
  </body>
  <script>
    for (var i = 0; i < {{units.length}}; i++) {
      let name = `u${i}-lesson`;
      if (localStorage.getItem(name) === undefined || localStorage.getItem(name) <= 0) localStorage.setItem(name, 0);
      document.getElementById(name).value = localStorage.getItem(name);
      for (var k = 0; k < localStorage.getItem(name); k++) { document.getElementsByClassName('i-' + i)[k].classList.add("highlight"); }
    }
  </script>
</html>