<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sprachbund</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/solid.min.css" integrity="sha512-SRwBRtvmT+LZLST1GBrRec8GROqtjKU1NK23RKSpdL6IRzn2xPeOfBYSeIlc/9iXYagKB5IX6MyKZF1nq4a1fw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/learn.css">

    <link rel="icon" href="{{seo.img}}">
    <link rel="apple-touch-icon" href="{{seo.img}}">
    
    <meta name="description" content="{{page.top}}" />
    <meta name="keywords" content="" />
    <meta name="author" content="Learn" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="{{seo.theme-color}}">
    <meta name="canonical" content="{{seo.url}}">
    
    <meta name="hreflang" content="en-US">
    
    <meta name="msapplication-TileColor" content="{{seo.theme-color}}">
    <meta name="msapplication-TileImage" content="{{seo.img}}">
    <meta name="msapplication-tooltip" content="{{seo.name}}"> 
  
    <meta property="og:title" content="{{seo.name}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{seo.img}}">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:site_name" content="{{seo.name}}">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{seo.name}}">
    <meta name="twitter:description" content="{{seo.description}}">
    <meta name="twitter:image" content="{{seo.img}}">
    
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <script src="/js/scroll.js" type="text/javascript" defer></script>
    <script src="/js/progress.js" type="text/javascript" defer></script>
  </head>
  <body>
    <header>
      <div class="sticky-header" id="header">
        <div class="flag"><svg><image href="/svg/flag.svg" xlink:href="/svg/flag.svg"></image></svg></div>
        <div class="unit">
          <p class="name">Nóri &middot; Unit <span id="unitno"></span></p>
          <p class="description" id="unitdesc"></p>
        </div>
      </div>
    </header>
    <main>
    {{#each units}}
      <div class="divider" id="divider{{@index}}" data-description="{{name}}"><hr><p class="label">{{description}}</p><hr></div>
      {{#each modules}}
      <div class="module" data-id="u{{@../index}}-m{{@index}}">
        <form class="select-lesson" method="post" action="/lesson">
          <input name="unit" value="{{@../index}}" hidden>
          <input name="module" value="{{@index}}" hidden>
          <input name="lesson" value="0" hidden>
          <div class="start">
            <i class="fa-solid fa-{{icon}}"></i>
            <p class="title">{{title}}</p>
            <button class="start-btn">START</button>
          </div>
          <div class="completion">
          {{#if (eq lessons.length 1) includeZero=true}}
            <div class="indicator" style="width: calc(89.5% - 8px);"></div>
          {{else}}
            {{#each lessons}}<div class="indicator" style="width: calc(88% / {{../lessons.length}} - 8px); margin: 0 1%;"></div>{{/each}}
          {{/if}}
          <i class="fa-solid fa-star"></i>
          </div>
        </form>
      </div>
      {{/each}}
    {{/each}}
    </main>
  </body>
</html>