<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sprachbund</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/lesson.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" href="{{seo.img}}">
    <link rel="apple-touch-icon" href="{{seo.img}}">
    
    <meta name="description" content="{{page.top}}" />
    <meta name="keywords" content="" />
    <meta name="author" content="Learn" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="{{seo.theme-color}}">
    <meta name="canonical" content="{{seo.url}}">
    
    <meta name="hreflang" content="en-US">
    
    <meta name="msapplication-TileColor" content="{{seo.theme-color}}">
    <meta name="msapplication-TileImage" content="{{seo.img}}">
    <meta name="msapplication-tooltip" content="{{seo.name}}"> 
  
    <meta property="og:title" content="{{seo.name}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{seo.img}}">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:site_name" content="{{seo.name}}">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{seo.name}}">
    <meta name="twitter:description" content="{{seo.description}}">
    <meta name="twitter:image" content="{{seo.img}}">
    
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body onload="startLesson()">
    <header>
      <div class="language-flag"><svg><image href="/svg/flag.svg" xlink:href="/svg/flag.svg"></image></svg></div>
      <div class="progress-bar"><div class="progress" id="progress"></div></div>
      <div class="progress-count" id="progress-count">0/{{lessons.length}}</div>
    </header>
    <main>
      {{#each lessons as |lesson|}}
      <div class="section">
        {{#ifEquals lesson.type "comprehension"}}
        <p class="heading"><i class="fa-solid fa-magnifying-glass"></i> Read this carefully!</p>
        <div class="div-border scale">{{lesson.prompt}}</div>
        <p class="p-text">{{lesson.question}}</p>
        <br>
        <div class="btn-container" id="buttons-{{@index}}">{{#each choices}}<a class="answer-btn button" onclick="selectFitB(this)">{{this}}</a>{{/each}}</div>
        {{/ifEquals}}
        {{#ifEquals lesson.type "fill-in-the-blank"}}
        <p class="heading"><i class="fa-solid fa-pen-to-square"></i> Fill in the blank!</p>
        <div class="div-border scale">{{hover-translate lesson.prompt "smb"}}</div>
        <p class="p-text">Which word completes the sentence?</p>
        <br>
        <div class="btn-container" id="buttons-{{@index}}">{{#each choices}}<a class="answer-btn button" onclick="selectFitB(this)">{{this}}</a>{{/each}}</div>
        {{/ifEquals}}
        {{#ifEquals lesson.type "match"}}
        <p class="heading"><i class="fa-solid fa-motorcycle"></i> Match these terms!</p>
        <div class="btn-container half" id="foreign-{{@index}}">{{#each foreign}}<a class="answer-btn button" onclick="select(this)" id="foreign-{{@../index}}-{{@index}}">{{this}}</a>{{/each}}</div>
        <div class="btn-container half" id="native-{{@index}}">{{#each native}}<a class="answer-btn button" onclick="select(this)" id="native-{{@../index}}-{{@index}}">{{this}}</a>{{/each}}</div>
        {{/ifEquals}} 
        {{#ifEquals lesson.type "short-response"}}
        <p class="heading"><i class="fa-solid fa-pen-nib"></i> Try this!</p>
        <div class="div-border scale">{{hover-translate lesson.prompt (ternaryEq lesson.direction "native-foreign" "en" "smb")}}</div>
        <div class="response"><textarea class="textbox" id="response-{{@index}}" placeholder="Type in {{#ifEquals lesson.direction "native-foreign"}}Nóibón{{else}}English{{/ifEquals}}" {{#ifEquals lesson.direction "native-foreign"}}spellcheck="false"{{/ifEquals}} inputmode="search" enterkeyhint="go"></textarea></div>
        <div class="insert-buttons">
          <a class="button" onclick="caseshift()" id="shift-case">⬆</a>
          <a class="button c" onclick="insert('á')">á</a>
          <a class="button c" onclick="insert('ć')">ć</a>
          <a class="button c" onclick="insert('é')">é</a>
          <a class="button c" onclick="insert('ó')">ó</a>
        </div>
        {{/ifEquals}}
        {{#ifEquals lesson.type "vocabulary"}}
        <p class="heading"><i class="fa-solid fa-champagne-glasses"></i> Toast to a new word!</p>
        <div class="div-border">
          <p class="root merienda">{{lesson.word}}</p>
          <p><span class="context highlight">{{get-attribute lesson.word "pos"}}</span>	&middot; <span class="ipa">/{{get-attribute lesson.word "ipa"}}/</span></p>
          <hr class="divider">
          <p class="meaning">{{get-attribute lesson.word "definition"}}</p>
        </div>
        {{#if lesson.example}}
        <p class="p-text"><i class="icon fa-solid fa-message"></i> Example</p>
        <div class="div-border">
          <p>{{tip-format example.sentence}}</p>
          <p class="translation"><span class="highlight">"</span>{{tip-format example.translation}}<span class="highlight">"</span></p>
        </div>
        {{/if}}
        {{#if lesson.tip}}
        <p class="p-text"><i class="icon fa-solid fa-lightbulb"></i> Tip</p>
        <div class="div-border scale">{{tip-format lesson.tip}}</div>
        {{/if}}
        {{/ifEquals}}
      </div>
      {{/each}}
      <div class="section congrats">
        <p class="heading">You did it!</p>
        <p class="p-text" id="final-text"></p>
        <div class="statistic">
          <p class="scale">Score</p>
          <p class="inner scale" id="percentage"></p>
        </div>
        <div class="statistic">
          <p class="scale">Time</p>
          <p class="inner scale" id="timer"></p>
        </div>
      </div>
      <div class="alert" id="alert">
        <div class="text">
          <p class="heading" id="alert-heading"></p>
          <p class="description" id="alert-description"></p>
        </div>
        <div class="button-ctn">
          <a class="button" onclick="nextLesson()">Continue</a>
        </div>
      </div>
    </main>
    <footer id="footer">
      <a class="button" href="/">Exit</a>
      <a class="button" id="next" onclick="checkAnswer()">Check</a>
    </footer>
  </body>
  <script>
    let index = 0;
    let ansCount = 0;
    let seconds = 0;

    let selection;
    let timerInterval;
    
    let lessons = JSON.parse('{{{json lessons}}}');
    let lesson = lessons[index];
    
    var correct   = new Audio("/sfx/correct.wav");
    var incorrect = new Audio("/sfx/incorrect.mp3");

    document.onkeydown = (event) => {
      if (event.key === "Enter") {
        event.preventDefault();
        if (document.getElementById("alert").classList.contains("block")) setTimeout(() => nextLesson(), 350);
        else checkAnswer();
      }
    }
    
    function nextLesson() {
      if (selection != undefined) selection.classList.remove("selected");
      selection = undefined;
      document.getElementById("alert").classList.remove("block");
      
      document.getElementsByClassName("section")[index - 1].style.display = "none";
      if (index === lessons.length) { endLesson(); return; }

      lesson = lessons[index];
      if (lesson.type != "match") {
        document.getElementById("next").style.display = "inline-flex";
        document.getElementById("next").innerText = lesson.type == "vocabulary" ? "Got it!" : "Check";
      }

      if (lesson.type === "match") {
        shuffleDivs("foreign-" + index.toString());
        shuffleDivs("native-" + index.toString());
        document.getElementById("next").style.display = "none";
      } else if (lesson.type === "comprehension" || lesson.type === "fill-in-the-blank") shuffleDivs("buttons-" + index.toString());
      
      document.getElementsByClassName("section")[index].style.display = "inline-block";
    }

    function checkAnswer() {
      if (index >= lessons.length) { completeLesson(); return; }
      
      if ((lesson.type === "fill-in-the-blank" || lesson.type === "comprehension") && selection === undefined) {
        setAlert("<i class=\"fas fa-circle-xmark\"></i> Please answer!", "Tap or click on the correct response."); 
        return;
      }

      ansCount++;
      document.getElementById("percentage").innerHTML = `${(lessons.length / ansCount * 100).toFixed(2)}%`; 
      
      if (((lesson.type === "fill-in-the-blank" || lesson.type === "comprehension") && selection.text === lesson.answer) || (lesson.type === "short-response" && lesson.answers.find(chance => formatAnswer(chance) === formatAnswer(document.getElementById("response-" + index).value)))) {
        correct.play();
        setAlert("<i class=\"fas fa-circle-check\"></i> Correct!", "You did it!"); 
      }
      else if (lesson.type === "vocabulary") setAlert("<i class=\"fas fa-circle-info\"></i> Keep it in mind!", "Let's see this word in action!");
      else if (lesson.type === "match") { setAlert("<i class=\"fas fa-circle-check\"></i> Correct!", "You did it!"); }
      else { incorrectAnswer("<i class=\"fas fa-circle-xmark\"></i> Try again!", "Hover over words you don't know if you need to."); return; }
      
      index++;
      document.getElementById("progress").style.width = `${100 * index / lessons.length}%`;
      document.getElementById("progress-count").innerText = `${index}/${lessons.length}`;
    }
    
    function formatAnswer(text) { return text.toLowerCase().replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g, "").replace(/\s{2,}/g, " ").trimEnd(); }
    function insert(character) {
      let resp = document.getElementById("response-" + index);
      resp.setRangeText(document.getElementById("shift-case").innerHTML == "⬇" ? character.toUpperCase() : character, resp.selectionStart, resp.selectionEnd, 'select');
      resp.focus();
      resp.setSelectionRange(end + 1, end + 1);
    }
    
    function caseshift() {
      document.getElementById("shift-case").innerHTML = document.getElementById("shift-case").innerHTML == "⬇" ? "⬆" : "⬇";
      for (var c of document.getElementsByClassName("c")) { c.classList.toggle("upper"); }
    }
    
    function setAlert(heading, description) {
      document.getElementById("alert-heading").innerHTML = heading;
      document.getElementById("alert-description").innerHTML = description;
      document.getElementById("alert").classList.add("block");
    }
    
    function select(self) {
      if (selection === undefined) {
        self.classList.add("selected");
        selection = self;
        return;
      }
      let idx = selection.id.split("-").slice(1).join("-");
      
      if (selection === self) self.classList.remove("selected");
      else if (idx === self.id.split("-").slice(1).join("-")) {
        correct.play();
        document.getElementById("foreign-" + idx).classList.add("match-correct");
        document.getElementById("native-" + idx).classList.add("match-correct");
        
        document.getElementById("foreign-" + idx).classList.remove("button", "answer-btn", "selected");
        document.getElementById("native-" + idx).classList.remove("button", "answer-btn", "selected");
        
        document.getElementById("foreign-" + idx).removeAttribute('onclick');
        document.getElementById("native-" + idx).removeAttribute('onclick');
      } else incorrectAnswer("Oops!", "Try Again");
      
      selection.classList.remove("selected");
      selection = undefined;
      if (document.getElementById("native-" + index).getElementsByClassName("button").length === 0) checkAnswer();
    }

    function selectFitB(self) { 
      if (selection != null) selection.classList.toggle("selected");
      selection = self == selection ? null : self;
      selection.classList.toggle("selected");
    }
    
    function shuffleDivs(containerId) {
      if (!document.getElementById(containerId)) return;
      const container = document.getElementById(containerId);
      const divs = Array.from(container.children);

      for (let i = divs.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [divs[i], divs[j]] = [divs[j], divs[i]];
      }
      divs.forEach(div => container.appendChild(div));
    }

    function startLesson() {
      startTimer();
      document.getElementsByClassName("section")[index].style.display = "inline-block";
    }

    function endLesson() {
      stopTimer();
      document.getElementById("final-text").innerHTML = "Aren't you a smart cookie?";
      document.getElementById("timer").innerHTML = `${Math.floor(seconds/60)}:${seconds-(Math.floor(seconds/60)*60)}`
      document.getElementById("footer").innerHTML = "<a class=\"button finish-button\" onclick=\"completeLesson()\">Good job!</a>";
    }

    function completeLesson() {
      localStorage.setItem('u{{unitno}}-lesson', parseInt(localStorage.getItem('u{{unitno}}-lesson')) + 1);
      window.location = "{{seo.learn}}";
    }

    function startTimer() { timerInterval = setInterval(function() { seconds++; console.log(seconds); }, 1000); }
    function stopTimer()  { clearInterval(timerInterval); }

    function incorrectAnswer(heading, caption) {
      incorrect.play();
      setAlert(heading, caption);
    }
  </script>
</html>