<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sprachbund</title>
    <link rel="stylesheet" href="/lesson.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" href="{{seo.img}}">
    <link rel="apple-touch-icon" href="{{seo.img}}">
    
    <meta name="description" content="{{page.top}}" />
    <meta name="keywords" content="" />
    <meta name="author" content="Learn Ińlesh" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="{{seo.theme-color}}">
    <meta name="canonical" content="{{seo.url}}">
    
    <meta name="hreflang" content="en-US">
    
    <meta name="msapplication-TileColor" content="{{seo.theme-color}}">
    <meta name="msapplication-TileImage" content="{{seo.img}}">
    <meta name="msapplication-tooltip" content="{{seo.name}}"> 
  
    <meta property="og:title" content="{{seo.name}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{seo.img}}">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:site_name" content="{{seo.name}}">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{seo.name}}">
    <meta name="twitter:description" content="{{seo.description}}">
    <meta name="twitter:image" content="{{seo.img}}">
    
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body onload="nextLesson()">
    <header>
      <div class="language-flag">
        <svg><image href="/svg/simple_flag.svg" xlink:href="/svg/simple_flag.svg"></image></svg>
      </div>
      <div class="progress-bar"><div class="progress-inside" id="progress"></div></div>
      <div class="progress-count"><p id="progress-count"></p></div>
    </header>
    <main>
      {{#each lessons as |lesson|}}
      <div class="section">
        {{#ifEquals lesson.type "vocabulary"}}
        <p class="heading">New Word Incoming!</p>
        <div class="definition">
          <p class="root">{{lesson.word}}</p>
          <p class="ipa">/{{get-attribute lesson.word "ipa"}}/</p>
          <p class="context">{{get-attribute lesson.word "pos"}}</p>
          <p class="meaning">{{get-attribute lesson.word "definition"}}</p>
        </div>
        {{#if lesson.example}}
        <p class="subheading"><i class="icon fa-solid fa-message"></i> Example</p>
        <div class="container">
          <p>{{example.sentence}}</p>
          <p class="translation"><span class="highlight">"</span>{{example.translation}}<span class="highlight">"</span></p>
        </div>
        {{/if}}
        {{#if lesson.tip}}
        <p class="subheading"><i class="icon fa-solid fa-lightbulb"></i> Tip</p>
        <div class="container">
          <p class="tip">{{lesson.tip}}</p>
        </div>
        {{/if}}
        {{/ifEquals}}
        {{#ifEquals lesson.type "short-response"}}
        <p class="heading">Write this!</p>
        <div class="prompt">
          {{#ifEquals lesson.direction "native-new"}}{{hover-translate lesson.sentence.native "en"}}{{else}}{{hover-translate lesson.sentence.new "smb"}}{{/ifEquals}}
        </div>
        <div class="response"><textarea class="textbox" id="response-{{@index}}" placeholder="Type in {{#ifEquals lesson.direction "native-new"}}Nóibón{{else}}English{{/ifEquals}}" {{#ifEquals lesson.direction "native-new"}}spellcheck="false"{{/ifEquals}}></textarea></div>
        <div class="insert-buttons">
          <a class="button" onclick="caseshift()" id="shift-case">⬆</a>
          <a class="button c" onclick="insert('á')">á</a>
          <a class="button c" onclick="insert('ċ')">ċ</a>
          <a class="button c" onclick="insert('é')">é</a>
          <a class="button c" onclick="insert('ó')">ó</a>
        </div>
        {{/ifEquals}}
      </div>
      {{/each}}
      <div class="alert" id="alert">
        <div class="text">
          <p class="heading" id="alert-heading"></p>
          <p class="description" id="alert-description"></p>
        </div>
        <a class="button" onclick="nextLesson()">Continue</a>
      </div>
    </main>
    <footer>
      <a class="button" href="/">Exit</a>
      <a class="button" id="next" onclick="checkAnswer()">Check</a>
    </footer>
  </body>
  <script>
    let index = 0;
    let isUpper = false;
    
    let lessons = JSON.parse('{{{json lessons}}}');
    let lesson = lessons[index];
    
    let correct = true;
    
    function caseshift() {
      document.getElementById("shift-case").innerHTML = isUpper ? "⬆" : "⬇";
      isUpper = !isUpper;
      
      for (var c of document.getElementsByClassName("c")) { c.classList.toggle("upper"); }
    }
    
    function insert(character) { document.getElementById("response-" + index).value += (isUpper ? character.toUpperCase() : character); }
    
    function checkAnswer() {
      let checkFor;
      let right;
      if (lesson.type === "short-response") {
        checkFor = lesson.direction === "native-new" ? lesson.sentence.new : lesson.sentence.native;
        right = document.getElementById("response-" + index).value;
        
        if (checkFor.find(chance => formatAnswer(chance) === formatAnswer(right))) {
          index += 1;
          correct = true;
          document.getElementById("progress").style.width = `${100 * index / lessons.length}%`;
          document.getElementById("alert-heading").innerHTML = "Correct!";
          document.getElementById("alert-description").innerHTML = "You did it!";
        } else {
          correct = false;   
          document.getElementById("alert-heading").innerHTML = "Try again!";
          document.getElementById("alert-description").innerHTML = "Hover over words you don't know if you need to.";
        }
      } else if (lesson.type == "vocabulary") {
        index += 1;
        correct = true;
        document.getElementById("progress").style.width = `${100 * index / lessons.length}%`;
        document.getElementById("alert-heading").innerHTML = "Good job!";
        document.getElementById("alert-description").innerHTML = "Let's see this word in action!";
      }
      document.getElementById("alert").classList.add("block");
    }
    
    function nextLesson() {
      if (index >= lessons.length) {
        localStorage.setItem('u{{unitno}}-lesson', parseInt(localStorage.getItem('u{{unitno}}-lesson')) + 1);
        window.location = "https://glottis.glitch.me/";
        return;
      }
      
      lesson = lessons[index];
      document.getElementById("progress-count").innerText = `${index}/${lessons.length}`;
      document.getElementById("next").innerText = lesson.type == "vocabulary" ? "Got it!" : "Check";
      document.getElementById("alert").classList.remove("block");
      
      document.getElementsByClassName("section")[index].style.display = "block";
      if (index > 0) document.getElementsByClassName("section")[index - 1].style.display = "none";
      
      if (lesson.type === "short-response") {
        document.getElementById("response-" + index).addEventListener("keypress", function (event) {
          if (event.key === "Enter") { event.preventDefault(); checkAnswer(); }
        });
      }
    }
    
    function formatAnswer(text) { return text.toLowerCase().replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g, "").replace(/\s{2,}/g, " ").trimEnd(); }
  </script>
</html>