<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sprachbund</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/lesson.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon" href="{{seo.img}}">
    <link rel="apple-touch-icon" href="{{seo.img}}">
    
    <meta name="description" content="{{page.top}}" />
    <meta name="keywords" content="" />
    <meta name="author" content="Learn" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="{{seo.theme-color}}">
    <meta name="canonical" content="{{seo.url}}">
    
    <meta name="hreflang" content="en-US">
    
    <meta name="msapplication-TileColor" content="{{seo.theme-color}}">
    <meta name="msapplication-TileImage" content="{{seo.img}}">
    <meta name="msapplication-tooltip" content="{{seo.name}}"> 
  
    <meta property="og:title" content="{{seo.name}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{seo.img}}">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:site_name" content="{{seo.name}}">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{seo.name}}">
    <meta name="twitter:description" content="{{seo.description}}">
    <meta name="twitter:image" content="{{seo.img}}">
    
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body onload="nextLesson()">
    <header>
      <div class="language-flag">
        <svg><image href="/svg/flag.svg" xlink:href="/svg/flag.svg"></image></svg>
      </div>
      <div class="progress-bar"><div class="progress-inside" id="progress"></div></div>
      <div class="progress-count"><p id="progress-count">0/{{lessons.length}}</p></div>
    </header>
    <main>
      {{#each lessons as |lesson|}}
      <div class="section">
        {{#ifEquals lesson.type "comprehension"}}
        <p class="heading"><i class="fa-solid fa-pen-nib"></i> Try this!</p>
        <div class="div-border"><p>{{lesson.prompt}}</p></div>
        <div class="div-border"><p>{{lesson.question}}</p></div>
        <div class="btn-container" id="comprehension-{{@index}}">
          <a class="answer-btn button" onclick="selectFitB(this)" id="comprehension-{{@index}}-{{@index}}">{{answer}}</a>
          {{#each choices}}
          <a class="answer-btn button" onclick="selectFitB(this)" id="comprehension-{{@../index}}-{{add @index 1}}">{{this}}</a>
          {{/each}}
        </div>
        {{/ifEquals}}
        {{#ifEquals lesson.type "fill-in-the-blank"}}
        <p class="heading"><i class="fa-solid fa-pen"></i> Fill in the blank!</p>
        <div class="div-border">{{hover-translate lesson.prompt "smb"}}</div>
        <div class="select" id="match-{{@index}}">
          <a class="select-btn button" onclick="selectFitB(this)" id="choice-{{@index}}-{{@index}}">{{answer}}</a>
          {{#each choices}}
          <a class="select-btn button" onclick="selectFitB(this)" id="choice-{{@../index}}-{{add @index 1}}">{{this}}</a>
          {{/each}}
        </div>
        {{/ifEquals}}
        {{#ifEquals lesson.type "match"}}
        <p class="heading"><i class="fa-solid fa-motorcycle"></i> Match these terms!</p>
        <div class="shuffle-board" id="match-{{@index}}">
          {{#each new}}
          <a class="match-btn button" onclick="select(this)" id="new-{{@../index}}-{{@index}}">{{this}}</a>
          {{/each}}
          {{#each native}}
          <a class="match-btn button" onclick="select(this)" id="native-{{@../index}}-{{@index}}">{{this}}</a>
          {{/each}}
        </div>
        {{/ifEquals}}
        {{#ifEquals lesson.type "short-response"}}
        <p class="heading"><i class="fa-solid fa-pen-nib"></i> Try this!</p>
        <div class="prompt">{{hover-translate lesson.prompt (ternaryEq lesson.direction "native-new" "en" "smb")}}</div>
        <div class="response"><textarea class="textbox" id="response-{{@index}}" placeholder="Type in {{#ifEquals lesson.direction "native-new"}}Nóibón{{else}}English{{/ifEquals}}" {{#ifEquals lesson.direction "native-new"}}spellcheck="false"{{/ifEquals}} inputmode="search" enterkeyhint="go"></textarea></div>
        <div class="insert-buttons">
          <a class="button" onclick="caseshift()" id="shift-case">⬆</a>
          <a class="button c" onclick="insert('á')">á</a>
          <a class="button c" onclick="insert('ċ')">ċ</a>
          <a class="button c" onclick="insert('é')">é</a>
          <a class="button c" onclick="insert('ó')">ó</a>
        </div>
        {{/ifEquals}}
        {{#ifEquals lesson.type "vocabulary"}}
        <p class="heading"><i class="fa-solid fa-rocket"></i> New Word Incoming!</p>
        <div class="definition">
          <p class="root">{{lesson.word}}</p>
          <p class="ipa">/{{get-attribute lesson.word "ipa"}}/</p>
          <p class="context">{{get-attribute lesson.word "pos"}}</p>
          <p class="meaning">{{get-attribute lesson.word "definition"}}</p>
        </div>
        {{#if lesson.example}}
        <p class="subheading"><i class="icon fa-solid fa-message"></i> Example</p>
        <div class="container">
          <p>{{tip-format example.sentence}}</p>
          <p class="translation"><span class="highlight">"</span>{{tip-format example.translation}}<span class="highlight">"</span></p>
        </div>
        {{/if}}
        {{#if lesson.tip}}
        <p class="subheading"><i class="icon fa-solid fa-lightbulb"></i> Tip</p>
        <div class="container">
          <p class="tip">{{tip-format lesson.tip}}</p>
        </div>
        {{/if}}
        {{/ifEquals}}
      </div>
      {{/each}}
      <div class="section congrats">
        <p class="heading">You did it!</p>
        <p id="percentage"></p>
      </div>
      <div class="alert" id="alert">
        <div class="text">
          <p class="heading" id="alert-heading"></p>
          <p class="description" id="alert-description"></p>
        </div>
        <div class="button-ctn">
          <a class="button" onclick="nextLesson()">Continue</a>
        </div>
      </div>
    </main>
    <footer id="footer">
      <a class="button" href="/">Exit</a>
      <a class="button" id="next" onclick="checkAnswer()">Check</a>
    </footer>
  </body>
  <script>
    let index = 0;
    let ansCount = 0;
    
    let lessons = JSON.parse('{{{json lessons}}}');
    let lesson = lessons[index];
    
    var correct   = new Audio("/sfx/correct.wav");
    var incorrect = new Audio("/sfx/incorrect.mp3");
    
    document.onkeydown = (event) => {
      if (event.key === "Enter") {
        event.preventDefault();
        if (document.getElementById("alert").classList.contains("block")) setTimeout(() => nextLesson(), 350);
        else checkAnswer();
      }
    }
    
    function checkAnswer() {
      if (index >= lessons.length) { completeLesson(); return; }
      
      ansCount++;
      document.getElementById("percentage").innerHTML = `${(100 * lessons.length / ansCount).toFixed(2)}%`; 
      
      if (((lesson.type === "fill-in-the-blank" || lesson.type === "comprehension") && selection.text === lesson.answer) || (lesson.type === "short-response" && lesson.answers.find(chance => formatAnswer(chance) === formatAnswer(document.getElementById("response-" + index).value)))) {
        correct.play();
        setAlert("<i class=\"fas fa-circle-check\"></i> Correct!", "You did it!"); 
      }
      else if (lesson.type === "vocabulary") setAlert("<i class=\"fas fa-circle-info\"></i> Keep it in mind!", "Let's see this word in action!");
      else if (lesson.type === "match") { setAlert("<i class=\"fas fa-circle-check\"></i> Correct!", "You did it!"); }
      else {
        incorrect.play();
        setAlert("<i class=\"fas fa-circle-xmark\"></i> Try again!", "Hover over words you don't know if you need to."); 
        return; 
      }
      
      index++;
      document.getElementById("progress").style.width = `${100 * index / lessons.length}%`;
      document.getElementById("progress-count").innerText = `${index}/${lessons.length}`;
    }
    
    function nextLesson() {
      document.getElementById("alert").classList.remove("block");
      
      if (index > 0) document.getElementsByClassName("section")[index - 1].style.display = "none";
      if (index < lessons.length) {
        lesson = lessons[index];
        document.getElementById("next").innerText = lesson.type == "vocabulary" ? "Got it!" : "Check";
        if (lesson.type === "match") {
          shuffleDivs("match-" + index.toString());
          document.getElementById("next").style.display = "none";
        } else document.getElementById("next").style.display = "inline-flex";
      }
      else if (index >= lessons.length) document.getElementById("footer").innerHTML = "<a class=\"button finish-button\" onclick=\"completeLesson()\">Good job!</a>";
      
      document.getElementsByClassName("section")[index].style.display = "block";
    }
    
    function completeLesson() {
      localStorage.setItem('u{{unitno}}-lesson', parseInt(localStorage.getItem('u{{unitno}}-lesson')) + 1);
      window.location = "{{seo.learn}}";
    }
    
    function formatAnswer(text) { return text.toLowerCase().replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g, "").replace(/\s{2,}/g, " ").trimEnd(); }
    function insert(character) {
      let resp = document.getElementById("response-" + index);
      resp.setRangeText(document.getElementById("shift-case").innerHTML == "⬇" ? character.toUpperCase() : character, resp.selectionStart, resp.selectionEnd, 'select');
      resp.focus();
      resp.setSelectionRange(end + 1, end + 1);
    }
    
    function caseshift() {
      document.getElementById("shift-case").innerHTML = document.getElementById("shift-case").innerHTML == "⬇" ? "⬆" : "⬇";
      for (var c of document.getElementsByClassName("c")) { c.classList.toggle("upper"); }
    }
    
    function setAlert(heading, description) {
      document.getElementById("alert-heading").innerHTML = heading;
      document.getElementById("alert-description").innerHTML = description;
      document.getElementById("alert").classList.add("block");
    }
    
    let selection;
    function select(self) {
      if (selection === undefined) {
        self.classList.toggle("selected");
        selection = self;
        return;
      }
      
      for (let a of document.getElementsByClassName("selected")) { a.classList.remove("selected"); }
      let idx = selection.id.split("-").slice(1).join("-");
      
      if (selection === self) { self.classList.toggle("selected"); }
      else if (idx === self.id.split("-").slice(1).join("-")) {
        correct.play();
        document.getElementById("new-" + idx).classList.add("match-correct");
        document.getElementById("native-" + idx).classList.add("match-correct");
        
        document.getElementById("new-" + idx).classList.remove("button", "match-btn");
        document.getElementById("native-" + idx).classList.remove("button", "match-btn");
        
        document.getElementById("new-" + idx).removeAttribute('onclick');
        document.getElementById("native-" + idx).removeAttribute('onclick');
      } else {
        incorrect.play();
        setAlert("Oops!", "Try Again");
      }
      
      selection = undefined;
      if (document.getElementById("match-" + index).getElementsByClassName("button").length === 0) checkAnswer();
    }

    function selectFitB(self) { 
      if (selection != null) selection.classList.toggle("selected");
      selection = self;
      selection.classList.toggle("selected");
    }
    
    function shuffleDivs(containerId) {
      if (!document.getElementById(containerId)) return;
      const container = document.getElementById(containerId);
      const divs = Array.from(container.children);

      for (let i = divs.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [divs[i], divs[j]] = [divs[j], divs[i]];
      }
      divs.forEach(div => container.appendChild(div));
    }
  </script>
</html>